<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zero.dao.ext.UserPermissionExtMapper">

    <select id="selectPermissionByUserId" resultType="java.lang.String">
        SELECT p.url
        FROM `user` u
            JOIN user_role ur ON u.role_id = ur.role_id
            JOIN role_permission rp
                ON ur.role_id = rp.role_id
            JOIN permission p ON rp.permission_id = p.id
        WHERE u.name = #{userName}
    </select>
</mapper>